body{
background-image: url(./assets/top-recipe.png);
width: 100%;
height: 100%;
min-height: 100vh;
display: flex;
flex-direction: column;
}

.jumbotron{
 background-color: transparent;
 color: white;
 text-align: center;
padding-bottom: 0px !important;
}

.display-4{
    font-family: 'Notable', sans-serif;
}
.lead{
    color: #E68011
}

p{
    color: #E68011
}

.wrapper {
    position: relative;
    perspective: 40em;
    display: grid;
    transform-style: preserve-3d;
  }
  
  .card {
    place-items: center;
    grid-area: 1 / 1;
    height: 200px;
    width: 400px;
    transform: translateX(10px) rotateY(25deg) rotateX(10deg);
    background: rgba(249, 198, 26, 0.88);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    backface-visibility: hidden;
    box-shadow: 0 10px 30px -3px rgba(0,0,0,.1);
  }
  
  h1 {
    font-size: 22px;
    font-weight: 900;
  }
  
  .card .enclosed {
    background: #000;
    line-height: 1;
    color: rgba(249, 198, 26, 1);
    padding: 0 5px;
    display: inline-block;
    transform: translate(-1px, 1px) scale(0.75);
    transform-origin: right center;
  }
  
  .wrapper:before {
    --bw: 9px;
    grid-area: 1 / 1;
    content: '';
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    margin-top: calc(-1 * var(--bw));
    margin-left: calc(-1 * var(--bw));
    background: transparent;
    transform: translateX(-60px) rotateY(-30deg) rotateX(15deg) scale(1.03);
    pointer-events: none;
    border: var(--bw) solid white;
    box-sizing: content-box;
  }
  
  
  .wrapper:hover > div,
  .wrapper:hover:before {
    transform: none;
  }
  
  
  .wrapper > div,
  .wrapper:before {
    will-change: transform;
    transition: .3s transform cubic-bezier(.25,.46,.45,1);
  }
  
  
  body {
    display: grid;
    place-items: center;
  }

  .search{
      color:white;
  }

  h2{
      color: white;
  }

  .wrapper-recipe{
    width: 80%;
    margin: 0 auto;
}
.results{
    flex:1;
    padding: 10px;
}


  .recipe{
    padding: 10px;
    margin-bottom: 25px;
  }

  img{
    float: left;
    margin-left: 20px;
    max-width: 200px;
    padding-bottom: 15px;
}

.clearfix{
    clear: both;
}

footer{
    background-image: url(./assets/buttom-recipe.png);
    width: 100%;
    height: 100%;
    margin-top: auto;
    /* image-resolution: 20%; */
}

  /* iPad Pro PORTRAIT */
@media screen and (max-width: 1024px) {
}
/* iPad Pro LANDSCAPE*/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : landscape) {
}
/* iPad PORTRAIT*/
@media screen and (max-width: 769px) {
}
/* iPad LANDSCAPE*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
}
/* iPhone 6/7/8 Plus PORTRAIT */
@media screen and (max-width: 414px) {
}
/* iPhone 6/7/8 Plus LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 736px) and (orientation : landscape) {
}
/* Pixel 2 & Pixel 2 XL PORTRAIT */
@media screen and (max-width: 412px) {
}
/* Pixel 2 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 731px) and (orientation : landscape) {
}
/* Pixel 2 XL LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 823px) and (orientation : landscape) {
}
/* iPhone 6/7/8 & iPhone X PORTRAIT */
@media screen and (max-width: 400px) {
}
/* iPhone 6/7/8 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 667px) and (orientation : landscape) {
}
/* Iphone X LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 822px) and (orientation : landscape) {
}
/* Galaxy S5 PORTRAIT */
@media screen and (max-width: 375px) {
}
/* Galaxy S5 LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 640px) and (orientation : landscape) {
}
/* iPhone 5/SE PORTRAIT */
@media screen and (max-width: 330px) {
}
/* iPhone 5/SE LANDSCAPE */
@media only screen and (min-device-width : 411px) and (max-device-width : 568px) and (orientation : landscape) {
}